# This socket-service params
# ---------
MY_BIND_HOST="{{ hostvars['service-websocket1']['loc_ip'] }}"
MY_BIND_PORT=3003
MY_SECRET_KEY="K8r4TkOz"
MY_ENV="prod"
MY_DEBUG=0

# Mysql
# ---------
DB_MAIN_HOST="{{ hostvars['sql1']['loc_ip'] }}"
DB_MAIN_NAME="{{ mysql_server_config.mysql_db_name_taxi }}"
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"
DB_MAIN_CONNECTION_LIMIT=256
DB_MAIN_CONNECTION_TIMEOUT=10000
DB_MAIN_ACQUIRE_TIMEOUT=10000

# MongoDB
# ---------
MONGODB_MAIN_DSN="mongodb://{% for host in groups['nosql'] %}{{ hostvars[host]['loc_ip'] ~ ":27017/" ~ environment_id ~ ("," if not loop.last else "") }}{% endfor %}"

# RabbitMQ
# ---------
RABBITMQ_MAIN_HOST="{{ hostvars['mq1']['loc_ip'] }}"
RABBITMQ_MAIN_PORT=5672

# Mailing
# ---------
MAIL_SUPPORT_PROVIDER="Yandex"
MAIL_SUPPORT_SUBJECT_ERROR="Error in {{ environment_id | upper }}"
MAIL_SUPPORT_SUBJECT_WARNING="Warning in {{ environment_id | upper }}"
MAIL_SUPPORT_LOGIN="{{ environment_mail[app_name]['username'] }}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"

# Web services and APIs
# ---------
{% if environment_id == 'gootax' %}
SERVICE_PUSH_URL="http://{{ hostvars['service-push2']['loc_ip'] }}:8083/"
{% else %}
SERVICE_PUSH_URL="http://{{ hostvars['service-push1']['loc_ip'] }}:8083/"
{% endif %}
API_SERVICE_URL="http://{{ hostvars['api-service1']['loc_ip'] }}:80/"

# Syslog
# ---------
SYSLOG_ORDER_FACILITY="local0"
SYSLOG_ORDER_IDENT="{{ name_service }}"
SYSLOG_CHAT_FACILITY="local1"
SYSLOG_CHAT_IDENT="{{ name_service }}"
SYSLOG_WORKER_QUEUE_FACILITY="local2"
SYSLOG_WORKER_QUEUE_IDENT="{{ name_service }}"
