{

    "bootstrap": true,
    "server": true,
    "log_level": "DEBUG",
    "enable_syslog": true,
    "datacenter": "server1",
    "addresses" : {
      "http": "0.0.0.0"
    },
    "bind_addr": "{{  consul_bind_ip }}",
    "node_name": "{{  consul_bind_ip }}",
    "acl_datacenter": "server1",
    "acl_default_policy": "allow"
}