# Options to pass to consul agent

CONSUL_AGENT_OPTIONS="\
{% if consul_agent_options is mapping %}
{% for param, value in consul_agent_options.iteritems() %}
-{{ param }}{{ "=%s" % value if value != None else "" }} \
{% endfor %}
{% endif %}
"
