# Telegraf Configuration
#
# Telegraf is entirely plugin driven. All metrics are gathered from the
# declared inputs, and sent to the declared outputs.
#
# Plugins must be declared in here to be active.
# To deactivate a plugin, comment out the name and any variables.
#
# Use 'telegraf -config telegraf.conf -test' to see what metrics a config
# file would generate.
#
# Environment variables can be used anywhere in this config file, simply prepend
# them with $. For strings the variable must be within quotes (ie, "$STR_VAR"),
# for numbers and booleans they should be plain (ie, $INT_VAR, $BOOL_VAR)

{% macro write_param(param, value) %}
{% if value is sequence and value is not string %}
{{ param }} = [ "{{ value | join('", "') }}" ]
{% elif value == "true" or value == "false" or value is number %}
{{ param }} = {{ value }}
{% else %}
{{ param }} = "{{ value }}"
{% endif %}
{% endmacro -%}

{% for section in ["global_tags", "agent"] %}
{% if telegraf_config[section] is mapping and telegraf_config[section] | length > 0 %}
[{{ section }}]
{% for param, value in telegraf_config[section].iteritems() %}
  {{ write_param(param, value) -}}
{% endfor %}

{% endif %}
{% endfor %}
{% for plugin_type in ["outputs", "inputs"] %}
{% if telegraf_config[plugin_type] is mapping and telegraf_config[plugin_type] | length > 0 %}
{% for plugin, params in telegraf_config[plugin_type].iteritems() %}
[[{{ plugin_type }}.{{ plugin }}]]
{% if params is mapping %}
{% for param, value in params.iteritems() %}
{% if value is mapping %}
  [{{ plugin_type }}.{{ plugin }}.{{ param }}]
{% for subparam, subvalue in value.iteritems() %}
    {{ write_param(subparam, subvalue) -}}
{% endfor %}
{% else %}
  {{ write_param(param, value) -}}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
{% endfor %}
