'use strict';
var bunyan = require('bunyan');
var bsyslog = require('bunyan-syslog');
var ver = '{{ app_version }}';

function myConfig(typeConfig) {
  return new ConfigProd();
}

function ConfigProd() {
    this.ver = ver;
    this.domain = 'v1.{{ environment_domain }}';
    this.servertype = "prod";
    this.pbxes =
        {% if environment_pbxes is defined %}
        {% if environment_pbxes is sequence %}
        {% if environment_pbxes is not string %}
        {{ environment_pbxes | to_nice_json }}
        {% endif %}
        {% endif %}
        {% endif %}
    this.restserver = {port: 8088};
    this.restclient = {host: "va2.{{ environment_domain }}", port: 8086, protocol: "https://"};
    this.debug = true;
    this.proxy =
        [
            {
                id: "sp2",
                host: "sp2.{{ environment_domain }}",
                port: 5060,
                protocol: "http://",
                dbhost: "{{ hostvars['sql1']['loc_ip'] }}",
                dbuser: "{{ environment_mysql['kamailio']['username'] }}",
                dbpassword: "{{ environment_mysql['kamailio']['password'] }}",
                database: "{{ environment_mysql['kamailio']['username'] }}"
            }
        ];
    //из этой БД берутся юзеры и загружаются в астериск
    this.defaultDB = 'sp2.{{ environment_domain }}';
    this.qtimeout = 150;
    this.ctimeout = 8;
    this.servertype = "prod";
    this.mail_support_login = "{{ environment_mail['api_pbx']['username'] }}";
    this.mail_support_service = "Yandex";
    this.mail_support_password = "{{ environment_mail['api_pbx']['password'] }}";
    this.log = bunyan.createLogger({
        name: 'observer.js',
        streams: [
            {
                level: 'info',
                type: 'raw',
                stream: bsyslog.createBunyanStream({
                    type: 'sys',
                    facility: bsyslog.local0,
                    name: 'api_pbx-{{ app_version.lstrip("v") }}'
                })
            }
        ]
    });
    this.log.level("INFO");
}

module.exports = myConfig;
