#!/bin/bash

{% if influxdb_dbs is sequence and influxdb_dbs is not string %}
# Create databases
{% for db in influxdb_dbs %}
/usr/bin/influx -host {{ loc_ip }} \
                -username {{ influxdb_admin_user }} \
                -password {{ influxdb_admin_password }} \
                -execute "create database if not exists {{ db }}"
{% endfor %}
{% endif %}

{% if influxdb_users is mapping %}
# Create users
{% for user, params in influxdb_users.iteritems() %}
/usr/bin/influx -host {{ loc_ip }} \
                -username {{ influxdb_admin_user }} \
                -password {{ influxdb_admin_password }} \
                -execute "create user {{ user }} with password '{{ params.password }}'"
{% if params.privileges is defined and params.privileges is sequence and params.privileges is not string %}
{% for privilege in params.privileges %}
/usr/bin/influx -host {{ loc_ip }} \
                -username {{ influxdb_admin_user }} \
                -password {{ influxdb_admin_password }} \
                -execute "grant {{ privilege }} to {{ user }}"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
