### Welcome to the InfluxDB configuration file.

# Run influxd -config for view default settings

{% macro write_param(param, value) %}
{% if value is sequence and value is not string %}
{{ param }} = [ "{{ value | join('", "') }}" ]
{% elif value == "true" or value == "false" or value is number %}
{{ param }} = {{ value }}
{% else %}
{{ param }} = "{{ value }}"
{% endif %}
{% endmacro -%}

{% if influxdb_config is mapping %}
{% for param, value in influxdb_config.iteritems() %}
{% if value is string %}
{{ write_param(param, value) -}}
{% endif %}
{% endfor %}

{% for section, params in influxdb_config.iteritems() %}
{% if params is mapping %}
[{{ section }}]
{% for param, value in params.iteritems() %}
  {{ write_param(param, value) -}}
{% endfor %}

{% endif %}
{% endfor %}

{% endif %}
