#
# Elasticsearch startup options
#

{% if elasticsearch1_defaults is defined %}
{% if elasticsearch1_defaults is mapping %}
{% for param, value in elasticsearch1_defaults.iteritems() %}
{{ param | upper }}={{ value }}
{% endfor %}
{% endif %}
{% endif %}
