{% if elasticsearch1_config is defined %}
{% if elasticsearch1_config is mapping %}
{% for param, value in elasticsearch1_config.iteritems() %}
{% if value is sequence and value is not string %}
{{ param }}: ['{{ "', '".join(value) }}']
{% else %}
{{ param }}: {{ value|lower if value in [True, False] else value }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
