[Unit]
Description=Elasticsearch
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Environment=ES_HOME=/usr/share/elasticsearch
Environment=CONF_DIR=/etc/elasticsearch
Environment=CONF_FILE=/etc/elasticsearch/elasticsearch.yml
Environment=DATA_DIR=/var/lib/elasticsearch
Environment=LOG_DIR=/var/log/elasticsearch
Environment=PID_DIR=/var/run/elasticsearch
EnvironmentFile=-/etc/default/elasticsearch

User=elasticsearch
Group=elasticsearch

ExecStart=/usr/share/elasticsearch/bin/elasticsearch \
                                                -Des.pidfile=$PID_DIR/elasticsearch.pid \
                                                -Des.default.path.home=$ES_HOME \
                                                -Des.default.path.logs=$LOG_DIR \
                                                -Des.default.path.data=$DATA_DIR \
                                                -Des.default.config=$CONF_FILE \
                                                -Des.default.path.conf=$CONF_DIR

# Connects standard output to journal
StandardOutput=journal

# Connects standard error to journal
StandardError=journal

# Use identifier with version
SyslogIdentifier=elasticsearch-{{ elasticsearch1_version }}

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65535

# Specifies the maximum number of bytes of memory that may be locked into RAM
# Set to "infinity" if you use the 'bootstrap.mlockall: true' option
# in elasticsearch.yml and 'MAX_LOCKED_MEMORY=unlimited' in /etc/default/elasticsearch
LimitMEMLOCK=infinity

# Shutdown delay in seconds, before process is tried to be killed with KILL (if configured)
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target

# Built for elasticsearch-1.7.6 (deb)
