%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
{% macro rabbitmq_write_params(params, indent=0) %}
{% if params is mapping %}
{% for param, value in params.iteritems() %}
{{ "{" | indent(width=indent, indentfirst=true) -}}
{{ param }}, {{ rabbitmq_write_params(value) -}}
{{ "}" if loop.last else "},\n" -}}
{% endfor %}
{% elif params is sequence and params is not string %}
{{ "[" -}}
{% for param in params %}
{{ rabbitmq_write_params(param) }}{{ "" if loop.last else ", " -}}
{% endfor %}
{{ "]" -}}
{% elif params is string or params is number %}
{{ params -}}
{% endif %}
{% endmacro %}

[
{% if rabbitmq_config is defined and rabbitmq_config is mapping %}
{% for module, module_params in rabbitmq_config.iteritems() if module_params != None %}
 { {{- module }},
  [
{{ rabbitmq_write_params(module_params, 3) }}
  ]}{{ "" if loop.last else ",\n" }}
{% endfor %}
{% endif %}
].
