{% macro smokeping_write_params(params, indent=0) %}
{# At first write section options #}
{% for param in params | sort if param != "_" and params[param] is not mapping and params[param] != None %}
{{ param[2:] if param[0:1].isdigit() else param }} = {{ params[param] }}
{% endfor %}
{# At second write TEXT section option (_ variable) #}
{% if params["_"] is defined %}

{{ params["_"] }}

{% endif %}
{# And at end write all subsections #}
{% for param in params | sort if params[param] is mapping %}

{{ "+"*(indent+1) }} {{ param[2:] if param[0:1].isdigit() else param }}
{{ smokeping_write_params(params[param], indent+1) -}}
{% endfor %}
{% endmacro -%}

{% if smokeping_config is mapping %}
{% for s in ["general", "alerts", "database", "presentation", "slaves", "probes", "targets"] %}
*** {{ s | title }} ***
{{ smokeping_write_params(smokeping_config[s]) }}
{% endfor %}
{% endif %}
