.encoding = "UTF-8"
bios.bootorder = "hdd,CDROM"
checkpoint.vmstate = ""
cleanshutdown = "TRUE"
config.version = "8"
displayname = "{{ vm_name }}"
{% if vm_network_lan_mac is defined %}
ethernet0.address = "{{ vm_network_lan_mac }}"
ethernet0.addresstype = "static"
{% else %}
ethernet0.addresstype = "generated"
{% endif %}
ethernet0.bsdname = "en0"
ethernet0.connectiontype = "nat"
ethernet0.displayname = "Ethernet"
ethernet0.linkstatepropagation.enable = "FALSE"
ethernet0.networkname = "lan"
ethernet0.pcislotnumber = "33"
ethernet0.present = "TRUE"
ethernet0.virtualdev = "vmxnet3"
ethernet0.wakeonpcktrcv = "FALSE"

{% if vm_network_wan is defined and vm_network_wan == True %}
{% if vm_network_wan_mac is defined %}
ethernet1.address = "{{ vm_network_wan_mac }}"
ethernet1.addresstype = "static"
{% else %}
ethernet1.addresstype = "generated"
{% endif %}
ethernet1.bsdname = "en1"
ethernet1.connectiontype = "nat"
ethernet1.displayname = "Ethernet"
ethernet1.linkstatepropagation.enable = "FALSE"
ethernet1.networkname = "wan"
ethernet1.pcislotnumber = "33"
ethernet1.present = "TRUE"
ethernet1.virtualdev = "vmxnet3"
ethernet1.wakeonpcktrcv = "FALSE"
{% endif %}

extendedconfigfile = "{{ vm_name }}.vmxf"
floppy0.present = "FALSE"
guestos = "debian7-64"
hpet0.present = "TRUE"
mem.hotadd = "TRUE"
memsize = "{{ vm_memsize_mb | default(1024) }}"
msg.autoanswer = "true"
nvram = "{{ vm_name }}.nvram"
numvcpus = "{{ vm_vcpus | default(1) }}"
pcibridge0.present = "TRUE"
pcibridge4.functions = "8"
pcibridge4.present = "TRUE"
pcibridge4.virtualdev = "pcieRootPort"
pcibridge5.functions = "8"
pcibridge5.present = "TRUE"
pcibridge5.virtualdev = "pcieRootPort"
pcibridge6.functions = "8"
pcibridge6.present = "TRUE"
pcibridge6.virtualdev = "pcieRootPort"
pcibridge7.functions = "8"
pcibridge7.present = "TRUE"
pcibridge7.virtualdev = "pcieRootPort"
powertype.poweroff = "default"
powertype.poweron = "default"
powertype.reset = "default"
powertype.suspend = "soft"
sched.cpu.affinity = "all"
sched.cpu.latencySensitivity = "normal"
sched.cpu.min = "0"
sched.cpu.shares = "normal"
sched.cpu.units = "mhz"
sched.mem.min = "0"
sched.mem.minSize = "0"
sched.mem.shares = "normal"
sched.scsi0:0.shares = "normal"
sched.scsi0:0.throughputCap = "off"
scsi0.present = "TRUE"
scsi0.virtualdev = "pvscsi"
scsi0:0.deviceType = "scsi-hardDisk"
scsi0:0.filename = "{{ vm_name }}.vmdk"
scsi0:0.present = "TRUE"
scsi0:0.redo = ""
svga.present = "TRUE"
tools.synctime = "TRUE"
tools.upgrade.policy = "manual"
virtualhw.productcompatibility = "hosted"
virtualhw.version = "{{ vm_hw_version | default(10) }}"
vmci0.present = "TRUE"
