{% if elasticsearch5_config is defined %}
{% if elasticsearch5_config is mapping %}
{% for param, value in elasticsearch5_config.iteritems() %}
{{ param }}: {{ value|lower if value in [True, False] else value }}
{% endfor %}
{% endif %}
{% endif %}
