# This engine-service params
# ---------
MY_BIND_HOST="{{ hostvars['service-engine1']['loc_ip'] }}"
MY_BIND_PORT=8087
MY_ID={{ inventory_hostname | regex_replace('service-engine') }}
MY_ENV="prod"
MY_DEBUG=0

# Mysql
# ---------
DB_MAIN_HOST="{{ hostvars['sql1']['loc_ip'] }}"
DB_MAIN_NAME="{{ mysql_server_config.mysql_db_name_taxi }}"
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"
DB_MAIN_CONNECTION_LIMIT=256
DB_MAIN_CONNECTION_TIMEOUT=10000
DB_MAIN_ACQUIRE_TIMEOUT=10000

# MongoDB
# ---------
MONGODB_MAIN_DSN="mongodb://{{ hostvars['nosql1']['loc_ip']}}:27017/{{ environment_id }}"
MONGODB_MAIN_REPLICA_SET="{{ environment_id }}"
MONGODB_MAIN_RECONNECT_TRIES=99999999
MONGODB_MAIN_RECONNECT_INTERVAL_MS=500
MONGODB_MAIN_POOL_SIZE=10

# RabbitMQ
# ---------
RABBITMQ_MAIN_HOST="{{ hostvars['mq1']['loc_ip'] }}"
RABBITMQ_MAIN_PORT=5672

# RedisDB
# ---------
{% if environment_id == 'gootax' %}
REDIS_MAIN_HOST="{{ hostvars['opdata2']['loc_ip'] }}"
{% else %}
REDIS_MAIN_HOST="{{ hostvars['opdata1']['loc_ip'] }}"
{% endif %}
REDIS_MAIN_PORT=6379

# Consul
# ---------
{% if environment_id == 'gootax' %}
CONSUL_MAIN_HOST="{{ hostvars['consul2']['loc_ip'] }}"
{% else %}
CONSUL_MAIN_HOST="{{ hostvars['consul1']['loc_ip'] }}"
{% endif %}
CONSUL_MAIN_PORT=8500
CONSUL_SERVICE_NAME="service_engine"
CONSUL_SERVICE_MASTER_KEY_NAME="service_engine_master"
CONSUL_SERVICE_SESSION_TTL="15s"
CONSUL_SERVICE_HEALTH_CHECK_TTL="15s"
CONSUL_SERVICE_CRITICAL_DEREGISTER_AFTER="0m30s"

# Mailing
# ---------
MAIL_SUPPORT_PROVIDER="Yandex"
MAIL_SUPPORT_SUBJECT_ERROR="Error in {{ environment_id | upper }}"
MAIL_SUPPORT_SUBJECT_WARNING="Warning in {{ environment_id | upper }}"
MAIL_SUPPORT_LOGIN="{{ environment_mail[app_name]['username'] }}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"

# Web services and APIs
# ---------
API_RABBITMQ_MANAGEMENT_URL="http://guest:guest@{{ hostvars['mq1']['loc_ip'] }}:15672/api/"
{% if environment_id == 'gootax' %}
API_SERVICE_URL="http://{{ hostvars['api-service2']['loc_ip'] }}:80/"
API_PHONE_URL="http://{{ hostvars['api-phone-call2']['loc_ip'] }}:80/"
API_ORDER_URL="http://{{ hostvars['api-order2']['loc_ip'] }}:80/"
SERVICE_PUSH_URL="http://{{ hostvars['service-push2']['loc_ip'] }}:8083/"
{% else %}
API_SERVICE_URL="http://{{ hostvars['api-service1']['loc_ip'] }}:80/"
API_PHONE_URL="http://{{ hostvars['api-phone-call1']['loc_ip'] }}:80/"
API_ORDER_URL="http://{{ hostvars['api-order1']['loc_ip'] }}:80/"
SERVICE_PUSH_URL="http://{{ hostvars['service-push1']['loc_ip'] }}:8083/"
{% endif %}

# Syslog
# ---------
SYSLOG_MAIN_FACILITY="local0"
SYSLOG_MAIN_IDENT="{{ name_service }}"
SYSLOG_ORDER_FACILITY="local1"
SYSLOG_ORDER_IDENT="{{ name_service }}"
SYSLOG_WORKERSHIFT_FACILITY="local2"
SYSLOG_WORKERSHIFT_IDENT="{{ name_service }}"
SYSLOG_WORKERBLOCK_FACILITY="local3"
SYSLOG_WORKERBLOCK_IDENT="{{ name_service }}"
