# This push-service params
# ---------
MY_BIND_HOST="{{  hostvars['service-push1']['loc_ip'] }}"
MY_BIND_PORT=8083
MY_IOS_WORKER_SERVICE_IS_PROD=1
MY_IOS_CLIENT_SERVICE_IS_PROD=1
MY_ENV="prod"
MY_DEBUG=0

# Mysql
# ---------
DB_MAIN_HOST="{{ hostvars['sql1']['loc_ip'] }}"
DB_MAIN_NAME="{{ mysql_server_config.mysql_db_name_taxi }}"
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"
DB_MAIN_CONNECTION_LIMIT=256
DB_MAIN_CONNECTION_TIMEOUT=10000
DB_MAIN_ACQUIRE_TIMEOUT=10000

# MongoDB
# ---------
MONGODB_MAIN_DSN="mongodb://{% for host in groups['nosql'] %}{{ hostvars[host]['loc_ip'] ~ ":27017/" ~ environment_id ~ ("," if not loop.last else "") }}{% endfor %}"

# RedisDB
# ---------
{% if environment_id == 'gootax' %}
REDIS_MAIN_HOST="{{ hostvars['opdata2']['loc_ip'] }}"
{% else %}
REDIS_MAIN_HOST="{{ hostvars['opdata1']['loc_ip'] }}"
{% endif %}
REDIS_MAIN_PORT=6379

# Mailing
# ---------
MAIL_SUPPORT_PROVIDER="Yandex"
MAIL_SUPPORT_SUBJECT_ERROR="Error in {{ environment_id | upper }}"
MAIL_SUPPORT_SUBJECT_WARNING="Warning in {{ environment_id | upper }}"
MAIL_SUPPORT_LOGIN="{{ environment_mail[app_name]['username'] }}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"

# Web services and APIs
# ---------
{% if environment_id == 'gootax' %}
SERVICE_GEO_URL="http://{{ hostvars['api-geo2']['loc_ip'] }}:3100/"
{% else %}
SERVICE_GEO_URL="http://{{ hostvars['api-geo1']['loc_ip'] }}:3100/"
{% endif %}

# Syslog
# ---------
SYSLOG_PUSH_SERVICE_FACILITY="local0"
SYSLOG_PUSH_SERVICE_IDENT="{{ app_name }}"
SYSLOG_ORDER_FACILITY="local1"
SYSLOG_ORDER_IDENT="{{ app_name }}"
SYSLOG_NOTIFICATION_FACILITY="local2"
SYSLOG_NOTIFICATION_IDENT="{{ app_name }}"
