# phpMyAdmin default Apache configuration

Alias /dbadmin /usr/share/phpmyadmin

RewriteOptions InheritDown
RewriteRule ^/dbadmin/(.*)$ https://%{HTTP_HOST}/dbadmin/$1 [NC,R=301,L]

<Directory /usr/share/phpmyadmin>
	Options FollowSymLinks
	DirectoryIndex index.php

    {% if db_conf.basic_auth_user is defined and db_conf.basic_auth_pwd is defined %}
      AuthType Basic
      AuthName "Authentication Required"
      AuthUserFile "/home/ubuntu/.htpasswd"
      Require valid-user
    {% else %}
        Order allow,deny
        Allow from all
    {% endif %}

    <IfModule mod_php7.0.c>
        AddType application/x-httpd-php .php

        php_flag magic_quotes_gpc Off
        php_flag track_vars On
        php_flag register_globals Off
        php_admin_flag allow_url_fopen Off
        php_value include_path .
        php_admin_value upload_tmp_dir /var/lib/phpmyadmin/tmp
        php_admin_value open_basedir /usr/share/phpmyadmin/:/etc/phpmyadmin/:/var/lib/phpmyadmin/:/usr/share/php/php-gettext/:/usr/share/javascript/
    </IfModule>

</Directory>

# Disallow web access to directories that don't need it
<Directory /usr/share/phpmyadmin/libraries>
    Order Deny,Allow
    Deny from All
</Directory>
<Directory /usr/share/phpmyadmin/setup/lib>
    Order Deny,Allow
    Deny from All
</Directory>
