{% if samba_config is mapping and samba_config | length > 0 %}
{% for section, params in samba_config.iteritems() %}
{% if params is mapping %}
[{{ section }}]
{% for param, value in params.iteritems() %}
  {{ param }} = {{ value if value not in [False, True] else ("no", "yes")[value] }}
{% endfor %}

{% endif %}
{% endfor %}
{% endif %}
