# MY
# ---
MY_TEST_URL="http://localhost:80/"
MY_EXTERNAL_URL="https://pg.{{ environment_domain }}:443/"
MY_NETWORK_TIMEOUT=10
MY_PROCESSING_TIMEOUT=30

# Framework
# ----------
YII_DEBUG=0
YII_ENV="prod"

COOKIE_VALIDATION_KEY="K3qzIh9cXM5wkWih2zJJqsm0Ct5cc5b9"

# Databases
# ----------
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"    #"{{ environment_mysql['paygate']['username'] }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"  #"{{ environment_mysql['paygate']['password'] }}"
DB_MAIN_DSN="mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname={{mysql_server_config.mysql_db_name_paygate}}"    #"mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname=${DB_MAIN_USERNAME}"

DB_MAIN_TEST_USERNAME="username"
DB_MAIN_TEST_PASSWORD="password"
DB_MAIN_TEST_DSN="mysql:host=localhost;dbname=test"

REDIS_CACHE_HOST="{{ hostvars['opcache1']['loc_ip'] }}"
REDIS_CACHE_PORT=6379
REDIS_CACHE_DATABASE_MAIN=0
REDIS_CACHE_DATABASE_CHECK_STATUS=15
REDIS_CACHE_KEY_PREFIX="apipaygate"

# Rabbit MQ
# ----------
RABBITMQ_MAIN_HOST="{{ hostvars['mq1']['loc_ip'] }}"
RABBITMQ_MAIN_VIRTUAL_HOST="/paygate"
RABBITMQ_MAIN_PORT=5672
RABBITMQ_MAIN_USERNAME="{{ environment_rabbitmq_vhosts['paygate']['username'] }}"
RABBITMQ_MAIN_PASSWORD="{{ environment_rabbitmq_vhosts['paygate']['password'] }}"

# API Currency
# -------------
{% if environment_id == 'gootax' %}
API_CURRENCY_URL="http://{{ hostvars['api-currency2']['loc_ip'] }}:80/"
{% else %}
API_CURRENCY_URL="http://{{ hostvars['api-currency1']['loc_ip'] }}:80/"
{% endif %}

# Syslog
# -------
SYSLOG_IDENTITY="{{ app_name }}"

# Support mail
# -------------
MAIL_SUPPORT_SUBJECT="Error in {{ environment_id | upper }}"
MAIL_SUPPORT_HOST="{{ environment_mail[app_name]['host'] }}"
MAIL_SUPPORT_PORT={{ environment_mail[app_name]['port'] }}
MAIL_SUPPORT_USERNAME="{{ environment_mail[app_name]['username'] }}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"
MAIL_SUPPORT_ENCRYPTION="{{ environment_mail[app_name]['encryption'] }}"

# Sentry
# --------------
SENTRY_DSN="https://<key>:<secret>@sentry.io/<project>"