# This api_geo params
# ---------
MY_BIND_HOST="{{ hostvars['api-geo1']['loc_ip']}}"
MY_BIND_PORT=3100
MY_ENV="prod"
MY_DEBUG=1
MY_CHECK_HASH=0
MY_MULTICORE=1
MY_DEFAULT_FORMATTER="kabbi"


# Elastic search
# ---------
{% if environment_id == 'gootax' %}
ELASTICSEARCH_MAIN_HOST="{{ hostvars['api-geo1']['loc_ip'] }}"
{% else %}
ELASTICSEARCH_MAIN_HOST="{{ hostvars['api-geo1']['loc_ip'] }}"
{% endif %}
ELASTICSEARCH_MAIN_PORT=9200
ELASTICSEARCH_GEO_INDEX="pelias"
ELASTICSEARCH_GEO_AZ_INDEX="pelias-az"
ELASTICSEARCH_GEO_KGZ_INDEX="pelias-kgz"
ELASTICSEARCH_ACCESS_INDEX="access"
ELASTICSEARCH_PROVIDER_INDEX="service_provider"


# MONGODB
# ---------
MONGODB_MAIN_DSN="mongodb://{{ hostvars['nosql1']['loc_ip'] }}:27017/"
MONGODB_DB = "kabbi"
MONGODB_COLLECTION="service_geo"
MONGODB_MAIN_REPLICA_SET="kabbi"
MONGODB_MAIN_RECONNECT_TRIES=99999999
MONGODB_MAIN_RECONNECT_INTERVAL_MS=500
MONGODB_MAIN_POOL_SIZE=10

# Mysqk
# ---------
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"
DB_MAIN_DATABASE="{{ mysql_server_config.mysql_db_name_taxi }}"
DB_MAIN_LOCAL="{{ hostvars['sql1']['loc_ip'] }}"




# External web services and APIs
# ---------
DIGIMAP_ROUTE_URL="http://gis01.rumap.ru:9064/RoutingSRS"
DIGIMAP_SEARCH_URL="http://gis01.rumap.ru"
GOMAP_SEARCH_URL="http://extra_api.gomap.az/Main.asmx"
GOOGLE_ROUTE_URL="https://maps.googleapis.com/maps/api/directions/json"
GOOGLE_SEARCH_URL="https://maps.googleapis.com/maps/api"
GOOGLE_DISTANCEMATRIX_URL="https://maps.googleapis.com/maps/api/distancematrix/json"
GOOGLE_DETEILSPLACES_URL="https://maps.googleapis.com/maps/api/place/details/json"

HERECOM_ROUTE_URL="https://route.cit.api.here.com/routing/7.2/calculateroute.json"
HERECOM_SEARCH_URL="https://geocoder.api.here.com/6.2/geocode.json"
HERECOM_REVERSE_URL="https://reverse.geocoder.api.here.com/6.2/reversegeocode.json"
HERECOM_PLACE_URL="https://places.api.here.com/places/v1/discover/search"
TWOGIS_ROUTE_URL="http://catalog.api.2gis.ru/2.0/transport/calculate_directions"
TWOGIS_SEARCH_URL="http://catalog.api.2gis.ru/2.0/geo/search"
{% if environment_id == 'gootax' %}
YANDEX_SUGGEST_URL="http://{{ hostvars['webproxy2']['loc_ip'] }}/yandex/suggest"
YANDEX_GEOCODE_URL="http://{{ hostvars['webproxy2']['loc_ip'] }}/yandex/geocode"
OSRM_ROUTE_URL="http://{{ hostvars['osrm2']['loc_ip'] }}:5000/route/v1/driving"
{% else %}
YANDEX_SUGGEST_URL="http://{{ hostvars['webproxy1']['loc_ip'] }}/yandex/suggest"
YANDEX_GEOCODE_URL="http://{{ hostvars['webproxy1']['loc_ip'] }}/yandex/geocode"
OSRM_ROUTE_URL="http://{{ hostvars['webproxy1']['loc_ip'] }}:5000/route/v1/driving"
OSRM_DISTANCEMATRIX_URL="http://osrm:80/table/v1/driving"
{% endif %}


# Mailing
# ---------
MAIL_SUPPORT_PROVIDER="Yandex"
MAIL_SUPPORT_SUBJECT_ERROR="Error in {{ environment_id | upper }}"
MAIL_SUPPORT_SUBJECT_WARNING="Warning in {{ environment_id | upper }}"
MAIL_SUPPORT_LOGIN="{{ environment_mail[app_name]['username'] }}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"


# Syslog
# ---------
SYSLOG_MAIN_FACILITY="local0"
SYSLOG_MAIN_IDENT="kabbi_api_geo"
