# MY
# ---
MY_NETWORK_TIMEOUT=20

# Framework
# ----------
YII_DEBUG=0
YII_ENV="prod"

SITE_DOMAIN="{{ environment_domain }}"
APPLICATION_NAME="{{ environment_name }}"

# Tests
--------
DB_MAIN_TEST_USERNAME="username"
DB_MAIN_TEST_PASSWORD="password"
DB_MAIN_TEST_DSN="mysql:host=localhost;dbname=db"


# Databases
# ----------
DB_MAIN_USERNAME="{{ environment_mysql['common']['username'] }}"
DB_MAIN_PASSWORD="{{ environment_mysql['common']['password'] }}"
DB_MAIN_TABLE="{{ environment_mysql['common']['tablename'] }}"
DB_MAIN_DSN="mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname=${DB_MAIN_TABLE}"
DB_MAIN_SCHEMA_CACHE_ENABLE=1
DB_MAIN_SCHEMA_CACHE_DURATION=3600

DB_MAIN_SLAVE_ENABLE=0
DB_MAIN_SLAVE_USERNAME="${DB_MAIN_USERNAME}"
DB_MAIN_SLAVE_PASSWORD="${DB_MAIN_PASSWORD}"
DB_MAIN_SLAVE_DSN="mysql:host={{ hostvars['sql2']['loc_ip'] }};dbname=${DB_MAIN_SLAVE_USERNAME}"

MONGODB_MAIN_DSN="mongodb://{% for host in groups['nosql'] %}{{ hostvars[host]['loc_ip'] ~ ("," if not loop.last else "") }}{% endfor %}/{{ environment_id }}"

{% if environment_id == 'gootax' %}
REDIS_CACHE_HOST="{{ hostvars['opcache2']['loc_ip'] }}"
{% else %}
REDIS_CACHE_HOST="{{ hostvars['opcache1']['loc_ip'] }}"
{% endif %}
REDIS_CACHE_PORT=6379
REDIS_CACHE_DATABASE_MAIN=0
REDIS_CACHE_DATABASE_CHECK_STATUS=15

# Gearman
# --------
{% if environment_id == 'gootax' %}
GEARMAN_MAIN_HOST="{{ hostvars['gearman2']['loc_ip'] }}"
{% else %}
GEARMAN_MAIN_HOST="{{ hostvars['gearman1']['loc_ip'] }}"
{% endif %}
GEARMAN_MAIN_PORT=4730

# Rabbit MQ
# ----------
RABBITMQ_MAIN_HOST="{{ hostvars['mq1']['loc_ip'] }}"
RABBITMQ_MAIN_VIRTUAL_HOST="/paygate"
RABBITMQ_MAIN_PORT=5672
RABBITMQ_MAIN_USER="{{ rabbitmq_server['rabbitmq_server_admin'] }}"
RABBITMQ_MAIN_PASSWORD="{{ rabbitmq_server['rabbitmq_server_password']  }}"

# API Paygate
# ------------
{% if environment_id == 'gootax' %}
API_PAYGATE_URL="http://{{ hostvars['api-paygate2']['loc_ip'] }}:80/"
{% else %}
API_PAYGATE_URL="http://{{ hostvars['api-paygate1']['loc_ip'] }}:80/"
{% endif %}

# API Cashdesk
# ------------
API_CASHDESK_URL="https://localhost.ru:80/"

# Push service
# -------------
{% if environment_id == 'gootax' %}
SERVICE_PUSH_URL="http://{{ hostvars['service-push2']['loc_ip'] }}:8083/"
{% else %}
SERVICE_PUSH_URL="http://{{ hostvars['service-push1']['loc_ip'] }}:8083/"
{% endif %}

# Support mail
# -------------
MAIL_SUPPORT_SUBJECT="Error in {{ environment_id | upper }}"
MAIL_SUPPORT_HOST="{{ environment_mail[app_name]['host'] }}"
MAIL_SUPPORT_PORT={{ environment_mail[app_name]['port'] }}
MAIL_SUPPORT_USERNAME="{{ environment_mail[app_name]['username'] }}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"
MAIL_SUPPORT_ENCRYPTION="{{ environment_mail[app_name]['encryption'] }}"

# Dispatch mail
# -------------
MAIL_DISPATCH_HOST="{{ environment_mail['sales']['host'] }}"
MAIL_DISPATCH_PORT={{ environment_mail['sales']['port'] }}
MAIL_DISPATCH_USERNAME="{{ environment_mail['sales']['username'] }}"
MAIL_DISPATCH_PASSWORD="{{ environment_mail['sales']['password'] }}"
MAIL_DISPATCH_ENCRYPTION="{{ environment_mail['sales']['encryption'] }}"

# CURL
# -----
CURL_CONNECT_TIMEOUT=15
CURL_TIMEOUT=30
PAYGATE_CURL_CONNECT_TIMEOUT=15
PAYGATE_CURL_TIMEOUT=45


# SMS providers
# --------------
SMS_ALPHASMS_URL="https://alphasms.ua/"
SMS_BSGSMS_URL="http://app.bsg.hk/"
SMS_BULKSMS_URL="http://gw1.unifun.com:11480/"
SMS_CLICKATELL_URL="https://platform.clickatell.com/"
SMS_COMTASS_URL="http://196.202.134.90/"
SMS_GATEWAYSMS_URL="http://91.212.89.137/"
SMS_GOSMS_URL="https://app.gosms.cz/"
SMS_IBATELE_LK_URL="https://lk.ibatele.com/"
SMS_IBATELE_SMPP_URL="http://smpp.ibatele.com/"
SMS_MAGFA_URL="http://sms.magfa.com/"
SMS_MARADIT_URL="http://apps.lsim.az/"
SMS_MEDIASEND_URL="http://188.225.75.178/"
SMS_MEGAFON_TJ_SMPP_HOST="10.241.201.184"
SMS_MEGAFON_TJ_SMPP_PORT=2775
SMS_NIKITA_URL="http://31.47.195.66:80/"
SMS_NIKITA_KG_URL="https://smspro.nikita.kg/"
SMS_PROMOSMS_URL="http://sms.promosms.ru:26676/"
SMS_SMSBROKER_URL="http://91.204.239.42:8081/"
SMS_SMSC_URL="http://smsc.ru/"
SMS_SMSLINE_URL="https://api.smsline.by/"
SMS_SMSONLINE_URL="https://bulk.sms-online.com/"
SMS_EYELINESMS_URL="https://sads.whoisd-blr.eyelinecom.com/"
SMS_IQSMS_HTTP_HOST="json.gate.iqsms.ru"
SMS_IQSMS_HTTP_PORT=80
SMS_IQSMS_BALANCE_HTTP_HOST="api.iqsms.ru"
SMS_IQSMS_BALANCE_HTTP_PORT=80
SMS_MSMSMS_URL="https://api.msm.az/"
SMS_QTSMS_SSL_HOST="go.qtelecom.ru"
SMS_QTSMS_SSL_PORT=443
SMS_QTSMS_KUBAN_SSL_HOST="kuban.qtelecom.ru"
SMS_QTSMS_KUBAN_SSL_PORT=443
SMS_SAPSANSMS_URL="http://lk.sms-sapsan.ru/"
SMS_SEMYSMS_NET_URL="https://semysms.net/"
