# The loopback network interface
auto lo
iface lo inet loopback
{% if network_dns_servers is defined and network_dns_servers is sequence and network_dns_servers is not string %}
    # dns-* options are implemented by the resolvconf package, if installed
{% for dns_server in network_dns_servers %}
    dns-nameserver {{ dns_server }}
{% endfor %}
{% endif %}
