{% set iface_name = item.key %}
# The {{ iface_name }} network interface
auto {{ iface_name }}
allow-hotplug {{ iface_name }}
{% if item.value is mapping %}
{% for network_class, params in item.value.iteritems() %}
iface {{ iface_name }} {{ network_class }} static
    address {{ params.ip }}
    netmask {{ params.netmask }}
{% if params.gateway is defined and params.gateway != None and params.gateway != "" %}
    gateway {{ params.gateway }}
{% endif %}

{% if params.routes is defined and params.routes is sequence and params.routes is not string %}

{% for route in params.routes %}
    post-up ip route add {{ route }} dev {{ iface_name }}
    pre-down ip route del {{ route }} dev {{ iface_name }}
{% endfor %}
{% endif %}


{% if params.route_routes is defined and params.route_routes is sequence and params.route_routes is not string %}

{% for route in params.route_routes %}
    post-up route add -net {{ route }}  {{ iface_name }}
    pre-down route del -net {{ route }}  {{ iface_name }}
{% endfor %}
{% endif %}


{% endfor %}
{% endif %}
