# Framework
# ----------
YII_DEBUG=0
YII_ENV="prod"

COOKIE_VALIDATION_KEY="ogLDqzKzjgMCeKcHuqms16P4qgJAXW6h"

# Databases
# ----------
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"
DB_MAIN_DSN="mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname={{mysql_server_config.mysql_db_name_taxi}}"

DB_MAIN_SLAVE_ENABLE=0
DB_MAIN_SLAVE_USERNAME="${DB_MAIN_USERNAME}"
DB_MAIN_SLAVE_PASSWORD="${DB_MAIN_PASSWORD}"
DB_MAIN_SLAVE_DSN="mysql:host={{ hostvars['sql2']['loc_ip'] }};dbname=${DB_MAIN_SLAVE_USERNAME}"

MONGODB_MAIN_DSN="mongodb://{% for host in groups['nosql'] %}{{ hostvars[host]['loc_ip'] ~ ("," if not loop.last else "") }}{% endfor %}/{{ environment_id }}"

{% if environment_id == 'gootax' %}
REDIS_MAIN_HOST="{{ hostvars['opdata2']['loc_ip'] }}"
{% else %}
REDIS_MAIN_HOST="{{ hostvars['opdata1']['loc_ip'] }}"
{% endif %}
REDIS_MAIN_PORT=6379
REDIS_MAIN_DATABASE_WORKERS=0
REDIS_MAIN_DATABASE_ORDERS_ACTIVE=1
REDIS_MAIN_DATABASE_ORDER_EVENT=12
REDIS_MAIN_DATABASE_WORKER_ORDERS=13
REDIS_MAIN_DATABASE_CHECK_STATUS=15

{% if environment_id == 'gootax' %}
REDIS_CACHE_HOST="{{ hostvars['opcache2']['loc_ip'] }}"
{% else %}
REDIS_CACHE_HOST="{{ hostvars['opcache1']['loc_ip'] }}"
{% endif %}
REDIS_CACHE_PORT=6379
REDIS_CACHE_DATABASE_MAIN=0
REDIS_CACHE_DATABASE_CHECK_STATUS=15
REDIS_CACHE_KEY_PREFIX="apiorder"

# Gearman
# --------
{% if environment_id == 'gootax' %}
GEARMAN_MAIN_HOST="{{ hostvars['gearman2']['loc_ip'] }}"
{% else %}
GEARMAN_MAIN_HOST="{{ hostvars['gearman1']['loc_ip'] }}"
{% endif %}
GEARMAN_MAIN_PORT=4730

# Consul
# ---------
{% if environment_id == 'gootax' %}
CONSUL_MAIN_HOST="{{ hostvars['consul2']['loc_ip'] }}"
{% else %}
CONSUL_MAIN_HOST="{{ hostvars['consul1']['loc_ip'] }}"
{% endif %}
CONSUL_MAIN_PORT=8500

# API Service
# ------------
{% if environment_id == 'gootax' %}
API_SERVICE_URL="http://{{ hostvars['api-service2']['loc_ip'] }}:80/"
{% else %}
API_SERVICE_URL="http://{{ hostvars['api-service1']['loc_ip'] }}:80/"
{% endif %}

# API GEO
# ------------
API_GEO_URL="http://{{ hostvars['api-geo1']['loc_ip'] }}:3100/"

# Engine service
# ---------------
{% if environment_id == 'gootax' %}
SERVICE_ENGINE_URL="http://{{ hostvars['service-engine2']['loc_ip'] }}:8087/"
{% else %}
SERVICE_ENGINE_URL="http://{{ hostvars['service-engine1']['loc_ip'] }}:8087/"
{% endif %}

# API Paygate
# ------------
{% if environment_id == 'gootax' %}
API_PAYGATE_URL="http://{{ hostvars['api-paygate2']['loc_ip'] }}:80/"
{% else %}
API_PAYGATE_URL="http://{{ hostvars['api-paygate1']['loc_ip'] }}:80/"
{% endif %}
API_PAYGATE_PATH="v0/cards"

# Service exchange
# ---------------
API_EXCHANGE_URL="http://localhost:80/"
API_EXCHANGE_CONNECTION_TIMEOUT=15
API_EXCHANGE_TIMEOUT=15

# Syslog
# -------
SYSLOG_IDENTITY="{{ app_name }}"

# Support mail
# -------------
MAIL_SUPPORT_SUBJECT="Error in {{ environment_id | upper }}"
MAIL_SUPPORT_HOST="{{ environment_mail[app_name]['host'] }}"
MAIL_SUPPORT_PORT={{ environment_mail[app_name]['port'] }}
MAIL_SUPPORT_USERNAME="{{ environment_mail[app_name]['username'] }}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"
MAIL_SUPPORT_ENCRYPTION="{{ environment_mail[app_name]['encryption'] }}"
