[Unit]
Description=Service for cancel yandex'es payments

[Service]
ExecStart=/usr/bin/php5.6 yii yandex/cancel-payment-consumer-start
WorkingDirectory=/opt/{{ app_name }}/current
SyslogIdentifier={{ app_name }}-stdout
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=default.target
