{% if item.value is mapping and item.value | length > 0 %}
{% for param, values in item.value.iteritems() %}
{% if values is mapping %}
{% for mod, value in values.iteritems() %}
{{ mod+" " if mod in ["mode", "owner"] else "" -}}
{{ param }} = {{ value }}
{% endfor %}
{% else %}
{{ param }} = {{ values }}
{% endif %}
{% endfor %}
{% endif %}
