{% if item.value is sequence and item.value is not string %}
{% for group in item.value %}
{% for group_name, group_options in group.iteritems() %}
{% if group_name == "include" and group_options is string %}
include = "{{ group_options }}"

{% else %}
group = "{{ group_name }}"
{% if group_options is mapping %}
{% for option_name, option_value in group_options.iteritems() %}
{% if option_value is number %}
{{ option_name }} = {{ option_value }}
{% elif option_value is string %}
{{ option_name }} = "{{ option_value }}"
{% elif option_value is sameas false or option_value is sameas true %}
{{ option_name }} = {{ option_value | lower }}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
