[client]
port   = {{ mysql_port }}
socket = {{ docker_mysql_socket }}

[mysqld]
port                    = {{ mysql_port }}
datadir                 = {{ docker_mysql_data_dir }}
socket                  = /var/run/mysqld/mysqld.sock
max_connections         = 500
transaction-isolation   = 'READ-COMMITTED'

general_log_file        = /var/log/mysqld/mysql.log
general_log             = 1

# caching and optimisations
join_buffer_size   = 128
table_open_cache   = 64
thread_cache_size  = 128 # see http://cl.ly/142s250i1S0o
thread_stack       = 256K
tmp_table_size     = 256M
max_allowed_packet = 500M
read_buffer_size   = 128K


slow-query-log-file = {{ mysql_slow_query_log_file }}
long_query_time     = 5

skip-external-locking
skip-name-resolve

innodb_flush_method                 = ALL_O_DIRECT # see http://cl.ly/040b1B1H1I2C
innodb_buffer_pool_size             = 3G # for 8GB RAM - it should be ~70-80% of the available RAM.
innodb_log_buffer_size              = 8M
innodb_log_file_size                = 50M # DO see http://cl.ly/3A3l2y170J29 and http://cl.ly/133W402C050v for more details on how to change this setting safely
innodb_support_xa                   = 0 # OK with Galera synchronous replication
innodb_flush_log_at_trx_commit      = 0 # speeds things up, can lose 1 second worth of transactions if MySQL crashes. This is fine for us at the moment.
innodb_doublewrite                  = 1 # ensures an incremental state transfer will be tried if possible - see http://cl.ly/1E0w1v0z1m0n
innodb_file_per_table               = 0

bind_address = 0.0.0.0
binlog_format                  = row

wsrep_slave_threads=2
wsrep_cluster_address=gcomm://
wsrep_provider=/usr/lib64/galera3/libgalera_smm.so

wsrep_cluster_name="Percona-XtraDB-Cluster"
wsrep_node_address=172.17.0.2

wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth='xtrabackup:xtrabackup'


# rsync or xtrabackup; remember to create the user 'mysql'@'localhost' on each node, with all privileges for the xtrabackup-based SST to work
# see http://cl.ly/153r0A2k0G1N
wsrep_sst_method               = xtrabackup-v2
wsrep_sst_auth                 = 'xtrabackup:xtrabackup'

pxc_strict_mode = PERMISSIVE

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
sql-mode = "NO_ENGINE_SUBSTITUTION"

[myisamchk]
key_buffer_size  = 20M
sort_buffer_size = 20M
read_buffer      = 2M
write_buffer     = 2M





