{% if item.value is mapping %}
{% for section, params in item.value.iteritems() %}
{% if params is mapping %}
[{{ section }}]
{% for param, value in params.iteritems() %}
{% if value == None %}
{{ param }}
{% else %}
{{ param }} = {{ value }}
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
{% endif %}
