# Framework
# ----------
YII_DEBUG=1
YII_ENV="dev"

COOKIE_VALIDATION_KEY="key"

# Databases
# ----------
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"
DB_MAIN_DSN="mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname={{mysql_server_config.mysql_db_name_taxi}}"
DB_MAIN_SCHEMA_CACHE_ENABLE=1
DB_MAIN_SCHEMA_CACHE_DURATION=3600

DB_MAIN_SLAVE_ENABLE=0
DB_MAIN_SLAVE_USERNAME="username"
DB_MAIN_SLAVE_PASSWORD="password"
DB_MAIN_SLAVE_DSN="mysql:host=localhost;dbname=db"

{% if environment_id == 'gootax' %}
REDIS_CACHE_HOST="{{ hostvars['opcache2']['loc_ip'] }}"
{% else %}
REDIS_CACHE_HOST="{{ hostvars['opcache1']['loc_ip'] }}"
{% endif %}
REDIS_CACHE_PORT=6379
REDIS_CACHE_DATABASE_MAIN=0
REDIS_CACHE_DATABASE_CHECK_STATUS=15
REDIS_CACHE_KEY_PREFIX="apiservice"

{% if environment_id == 'gootax' %}
REDIS_MAIN_HOST="{{ hostvars['opdata2']['loc_ip'] }}"
{% else %}
REDIS_MAIN_HOST="{{ hostvars['opdata1']['loc_ip'] }}"
{% endif %}
REDIS_MAIN_PORT=6379
REDIS_MAIN_DATABASE_ORDERS_ACTIVE=1

# Geoservice
# -----------
API_GEO_URL="http://{{ hostvars["api-geo1"]["loc_ip"] }}:3100/"

# Api Order
# ----------
API_ORDER_URL="http://{{ hostvars["api-order1"]["loc_ip"] }}:80/"
API_ORDER_TIMEOUT=5

# Gearman
# --------
GEARMAN_MAIN_HOST="{{ hostvars["gearman1"]["loc_ip"] }}"
GEARMAN_MAIN_PORT=4730

# Syslog
# -------
SYSLOG_IDENTITY="api_service"

# Support mail
# -------------
MAIL_SUPPORT_SUBJECT="API SERVICE ERROR (LOCAL)"
MAIL_SUPPORT_HOST="localhost"
MAIL_SUPPORT_PORT=465
MAIL_SUPPORT_USERNAME="username"
MAIL_SUPPORT_PASSWORD="password"
MAIL_SUPPORT_ENCRYPTION="ssl"