<?php

return [
    'adminEmail'              => '{{ environment_mail[app_name]['username'] }}',
    'gootaxUrl'               => "https://{{ environment_domain }}",
    'iosDriverPushTypeServer' => 'production', //sandbox   -тип сервера для ios водительского приложения
    'iosClientPushTypeServer' => 'production',
    'az_geocoder_accuracy'    => 0.0006,
    'version'                 => require __DIR__ . '/version.php',
];
