<?php

return [
    'adminEmail'                    => '{{ environment_mail[app_name]['username'] }}',
    'supportEmail'                  => '{{ environment_mail[app_name]['username'] }}',
    'user.passwordResetTokenExpire' => 3600,
{% if environment_id == 'gootax' %}
    'nodeApiUrl'                    => "http://{{ hostvars['service-engine2']['loc_ip'] }}:8087"
{% else %}
    'nodeApiUrl'                    => "http://{{ hostvars['service-engine1']['loc_ip'] }}:8087"
{% endif %}
];
