{% if kibana_config is defined %}
{% if kibana_config is mapping %}
{% for param, value in kibana_config.iteritems() %}
{{ param }}: {{ value|lower if value in [True, False] else value }}
{% endfor %}
{% endif %}
{% endif %}
