{% if netdata_configs is defined %}
{% if netdata_configs is mapping %}
{% for key, value in netdata_configs.iteritems() %}
[{{ key }}]
   {% if value is mapping %}
      {% for key_2, value_2 in value.iteritems() %}
{{ key_2 }} = {{ value_2  }}
      {% endfor %}
   {% endif %}

{% endfor %}

{% endif %}
{% endif %}
