{% if netdata_stream is defined %}
{% if netdata_stream is mapping %}
{% for key, value in netdata_stream.iteritems() %}
[{{ key }}]
{% if value is mapping %}
{% for key_2, value_2 in value.iteritems() %}
  {{ key_2 }} = {{ value_2  }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
