<?php

return [
    'adminEmail'    => '{{ environment_mail[app_name]['username'] }}',
    'pbxPort'       => '8088',
    'pbxHost'       => [
{% if environment_id == 'gootax' %}
        'media1' => '{{ hostvars['api-pbx2']['loc_ip'] }}',
        'media2' => '{{ hostvars['api-pbx2']['loc_ip'] }}',
        'media3' => '{{ hostvars['api-pbx2']['loc_ip'] }}',
{% else %}
        'media1' => '{{ hostvars['api-pbx1']['loc_ip'] }}',
{% endif %}
    ],
    'protokol'      => 'http',
{% if environment_id == 'gootax' %}
    'notifyServers' => ['http://{{ hostvars['api-pbx2']['loc_ip'] }}:8088/call/notify'],
{% else %}
    'notifyServers' => ['http://{{ hostvars['api-pbx1']['loc_ip'] }}:8088/call/notify'],
{% endif %}
    'version' => require __DIR__ . '/version.php',
];
