<?php

return [
    'vendorPath' => dirname(dirname(__DIR__)) . '/vendor',
    'components' => [
        'cache' => [
            'class' => 'yii\redis\Cache',
            'redis' => [
{% if environment_id == 'gootax' %}
                'hostname' => '{{ hostvars['opcache2']['loc_ip'] }}',
{% else %}
                'hostname' => '{{ hostvars['opcache1']['loc_ip'] }}',
{% endif %}
                'port'     => 6379,
                'database' => 0,
            ],
        ],
        'db'    => [
            'class'             => 'yii\db\Connection',
            'charset'           => 'utf8',
            'tablePrefix'       => 'tbl_',
            'enableSchemaCache' => true,
            // configuration for the master
            'dsn'               => 'mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname={{ environment_mysql['common']['tablename'] }}',
            'username'          => '{{ environment_mysql['common']['username'] }}',
            'password'          => '{{ environment_mysql['common']['password'] }}',
            // common configuration for slaves
            'slaveConfig'       => [
                'username' => '{{ environment_mysql['common']['username'] }}',
                'password' => '{{ environment_mysql['common']['password'] }}',
                'charset'  => 'utf8',
            ],
            // list of slave configurations
            'slaves'            => [
                ['dsn' => 'mysql:host={{ hostvars['sql2']['loc_ip'] }};dbname={{ environment_mysql['common']['tablename'] }}'],
            ],
        ],
    ],
];
