<?php

return [
    'adminEmail'                    => '{{ environment_mail[app_name]['username'] }}',
    'supportEmail'                  => '{{ environment_mail[app_name]['username'] }}',
    'user.passwordResetTokenExpire' => 3600,
];
