[Unit]
Description=Gootax'es {{ app_name }}

[Service]
User=root
Group=root
Environment=SERVICE_ACTION=start
EnvironmentFile=-/etc/default/{{ app_name }}
ExecStart=/root/.nvm/nvm-exec npm run ${SERVICE_ACTION}
SyslogIdentifier={{ app_name }}-stdout
KillSignal=SIGINT
WorkingDirectory=/opt/{{ app_name }}/current
TimeoutSec=5
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
