[Unit]
Description=Gootax'es {{ app_name }}

[Service]
ExecStart=/root/.nvm/nvm-exec npm start
WorkingDirectory=/opt/{{ app_name }}/current
SyslogIdentifier={{ app_name }}-stdout
Restart=always
User=root
Group=root

[Install]
WantedBy=default.target
