{% if logstash_config is defined %}
{% if logstash_config is mapping %}
{% for param, value in logstash_config.iteritems() %}
{{ param }}: {{ value|lower if value in [True, False] else value }}
{% endfor %}
{% endif %}
{% endif %}
