# mongod.conf, Percona Server for MongoDB
# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/
{% macro mongodb_write_params(params, indent=0) %}
{% if params is mapping %}

{% for param, value in params.iteritems() if value != None %}
{{ param | indent(width=indent, indentfirst=true) }}:{{ mongodb_write_params(value, indent+2) -}}
{% endfor %}

{% else %}
 {{ params if params not in [True, False] else params | lower }}
{% endif %}
{% endmacro -%}

{% if docker_percona_mongodb_config is defined and docker_percona_mongodb_config is mapping and docker_percona_mongodb_config | length > 0 %}
{{ mongodb_write_params(docker_percona_mongodb_config) }}
{% endif %}
