# Framework
# ----------
YII_DEBUG=0
YII_ENV="prod"

APPLICATION_NAME="{{ environment_name }}"

ENVIRONMENT_NAME="{{ environment_name }}"


# Databases
# ----------
DB_MAIN_USERNAME="{{ mysql_server_config.mysql_user_name_my }}"
DB_MAIN_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"
DB_MAIN_TABLE="{{ mysql_server_config.mysql_db_name_taxi }}"
DB_MAIN_DSN="mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname=${DB_MAIN_TABLE}"
DB_MAIN_SCHEMA_CACHE_ENABLE=1
DB_MAIN_SCHEMA_CACHE_DURATION=3600


DB_MAIN_SLAVE_ENABLE=0
DB_MAIN_SLAVE_USERNAME="${DB_MAIN_USERNAME}"
DB_MAIN_SLAVE_PASSWORD="${DB_MAIN_PASSWORD}"
DB_MAIN_SLAVE_DSN="mysql:host={{ hostvars['sql2']['loc_ip'] }};dbname=${DB_MAIN_SLAVE_USERNAME}"


DB_PAYGATE_TABLE="{{ mysql_server_config.mysql_db_name_paygate }}"
DB_PAYGATE_DSN="mysql:host={{ hostvars['sql1']['loc_ip']}};dbname=${DB_PAYGATE_TABLE}"
DB_PAYGATE_USERNAME="{{ mysql_server_config.mysql_user_paygate_name }}"
DB_PAYGATE_PASSWORD="{{ mysql_server_config.mysql_user_paygate_password }}"


DB_MIGRATION_HOST="{{ hostvars['sql1']['loc_ip'] }}"
DB_MIGRATION_PORT=3306
DB_MIGRATION_NAME="{{  mysql_server_config.mysql_db_name_taxi  }}"
DB_MIGRATION_USERNAME="{{ mysql_server_config.mysql_user_name_my  }}"
DB_MIGRATION_PASSWORD="{{ mysql_server_config.mysql_user_password_my }}"

DB_KAMAILIO_TABLE="{{ mysql_server_config.mysql_db_name_kamailio }}"
DB_KAMAILIO_USERNAME="{{ mysql_server_config.mysql_user_kamailio_name }}"
DB_KAMAILIO_PASSWORD="{{ mysql_server_config.mysql_user_kamailio_password }}"
DB_KAMAILIO_DSN="mysql:host={{ hostvars['sql1']['loc_ip'] }};dbname=${DB_KAMAILIO_TABLE}"

{% if environment_id == 'gootax' %}
ELASTICSEARCH_HTTP_ADDRESS="{{ hostvars['db-geo2']['loc_ip'] }}:9200"
{% endif %}

MONGODB_MAIN_DSN="mongodb://{% for host in groups['nosql'] %}{{ hostvars[host]['loc_ip'] ~ ("," if not loop.last else "") }}{% endfor %}/{{ environment_id }}"

{% if environment_id == 'gootax' %}
REDIS_MAIN_HOST="{{ hostvars['opdata2']['loc_ip'] }}"
{% else %}
REDIS_MAIN_HOST="{{ hostvars['opdata1']['loc_ip'] }}"
{% endif %}
REDIS_MAIN_PORT=6379
REDIS_MAIN_DATABASE_WORKERS=0
REDIS_MAIN_DATABASE_ORDERS_ACTIVE=1
REDIS_MAIN_DATABASE_PHONE_SCENARIO=2
REDIS_MAIN_DATABASE_ACTIVE_CALL=3
REDIS_MAIN_DATABASE_QUEUE_CALL=4
REDIS_MAIN_DATABASE_ACTIVE_DISPATCHER=5
REDIS_MAIN_DATABASE_FREE_DISPATCHER_QUEUE=6
REDIS_MAIN_DATABASE_WORKER_SHIFT=7
REDIS_MAIN_DATABASE_PARKING_HASH_TABLE=8
REDIS_MAIN_DATABASE_SESSION=10
REDIS_MAIN_DATABASE_DISPATCHER_LIVE_NOTICE=11
REDIS_MAIN_DATABASE_ORDER_EVENT=12
REDIS_MAIN_DATABASE_WORKER_ORDERS=13
REDIS_MAIN_DATABASE_CHECK_STATUS=15

{% if environment_id == 'gootax' %}
REDIS_CACHE_HOST="{{ hostvars['opcache2']['loc_ip'] }}"
{% else %}
REDIS_CACHE_HOST="{{ hostvars['opcache1']['loc_ip'] }}"
{% endif %}
REDIS_CACHE_PORT=6379
REDIS_CACHE_DATABASE_MAIN=0
REDIS_CACHE_DATABASE_CHECK_STATUS=15

# Gearman
# --------
{% if environment_id == 'gootax' %}
GEARMAN_MAIN_HOST="{{ hostvars['gearman2']['loc_ip'] }}"
{% else %}
GEARMAN_MAIN_HOST="{{ hostvars['gearman1']['loc_ip'] }}"
{% endif %}
GEARMAN_MAIN_PORT=4730

# RabbitMQ
# ---------
RABBITMQ_MAIN_HOST="{{ hostvars['mq1']['loc_ip'] }}"
RABBITMQ_MAIN_PORT=5672
RABBITMQ_MAIN_USER="{{ rabbitmq_server['rabbitmq_server_admin'] }}"
RABBITMQ_MAIN_PASSWORD="{{ rabbitmq_server['rabbitmq_server_password']  }}"

# Consul
# ---------
{% if environment_id == 'gootax' %}
CONSUL_MAIN_HOST="{{ hostvars['consul2']['loc_ip'] }}"
{% else %}
CONSUL_MAIN_HOST="{{ hostvars['consul1']['loc_ip'] }}"
{% endif %}
CONSUL_MAIN_PORT=8500

# Common
# -------
COMMON_UPLOAD_DIR="upload"
COMMON_UPLOAD_SCAN_DIR="scan"
COMMON_ADMIN_EMAIL="{{ environment_mail[app_name]['username'] }}"
COMMON_INFO_EMAIL="{{ environment_mail['info']['username'] }}"
COMMON_SUPPORT_PHONE="+7 3412 310-930"
COMMON_SUPPORT_EMAIL="info@kabbi.pro"
COMMON_SUPPORT_EMAIL2="support@kabbi.pro"
COMMON_SALES_PHONE="+7 3412 310-932"
COMMON_SALES_EMAIL="sales@kabbi.pro"
COMMON_LANDING_URL="https://{{ environment_domain }}"
COMMON_SITE_HOST="{{ environment_domain }}"
COMMON_SITE_PROTOCOL="https"
COMMON_SITE_DOMAIN="{{ environment_domain }}"
COMMON_DEMO_TARIFF_VALIDITY=5

# Frontend
# ---------
FRONTEND_COOKIE_VALIDATION_KEY="ymB2hl6GmkDJkoB_TnQrz_RzzsfoCISp"
FRONTEND_SERVICE_CHAT_EXTERNAL_URL="https://ch2.{{ environment_domain }}:80/"
#FRONTEND_SERVICE_CHAT_EXTERNAL_URL="http://{{ hostvars['service-websocket1']['loc_ip'] }}:3003/"
FRONTEND_UPLOAD_DIR="upload"
FRONTEND_UPLOAD_CALL_RECORD="http://m1.{{ environment_domain }}/files/"
FRONTEND_UPLOAD_SCAN_DIR="scan"
FRONTEND_LAYOUT_SHOW_FOOTER_URLS={{ 1 if environment_id == 'gootax' else 0 }}
FRONTEND_LAYOUT_IMAGES_INCLUDE_APPLE_TOUCH_ICONS={{ 1 if environment_id == 'gootax' else 0 }}
FRONTEND_LAYOUT_IMAGES_LOGO="{{ environment_site_images['logo_path'] }}"
FRONTEND_LAYOUT_IMAGES_FAVICON="{{ environment_site_images['favicon_path'] }}"

# Landing
# --------
LANDING_COOKIE_VALIDATION_KEY="ymB2hl6GmkDJkoB_TnQrz_RzzsfoCISp"
LANDING_UPLOAD_DIR="/upload/"
LANDING_CONTACTS_SKYPE="gootax.pro"
LANDING_CONTACTS_PHONE="+7 3412 310-932"
LANDING_CONTACTS_EMAIL="sales@gootax.pro"
LANDING_CONTACTS_PARTNERS_EMAIL="partners@gootax.pro"

# Backend
# --------
BACKEND_COOKIE_VALIDATION_KEY="ymB2hl6GmkDJkoB_TnQrz_RzzsfoCISp"
BACKEND_UPLOAD_DIR="/upload/"

# API Autocomplete
# -----------------
{% if environment_id == 'gootax' %}
API_AUTOCOMPLETE_URL="http://{{ hostvars['api-geo2']['loc_ip'] }}:3100/"
{% else %}
API_AUTOCOMPLETE_URL="http://{{ hostvars['api-geo1']['loc_ip'] }}:3100/"
{% endif %}

# API Order
# ----------
{% if environment_id == 'gootax' %}
API_ORDER_URL="http://{{ hostvars['api-order2']['loc_ip'] }}/"
{% else %}
API_ORDER_URL="http://{{ hostvars['api-order1']['loc_ip'] }}/"
{% endif %}

# API Paygate
# ------------
{% if environment_id == 'gootax' %}
API_PAYGATE_URL="http://{{ hostvars['api-paygate2']['loc_ip'] }}/"
{% else %}
API_PAYGATE_URL="http://{{ hostvars['api-paygate1']['loc_ip'] }}/"
{% endif %}

# API Phone
# ----------
{% if environment_id == 'gootax' %}
API_PHONE_URL="http://{{ hostvars['api-phone-call2']['loc_ip'] }}/"
{% else %}
API_PHONE_URL="http://{{ hostvars['api-phone-call1']['loc_ip'] }}/"
{% endif %}

# API Push
# ---------
{% if environment_id == 'gootax' %}
API_PUSH_URL="http://{{ hostvars['service-push2']['loc_ip'] }}:8083/"
{% else %}
API_PUSH_URL="http://{{ hostvars['service-push1']['loc_ip'] }}:8083/"
{% endif %}

# API Service
# ------------
{% if environment_id == 'gootax' %}
API_SERVICE_URL="http://{{ hostvars['api-service2']['loc_ip'] }}/"
{% else %}
API_SERVICE_URL="http://{{ hostvars['api-service1']['loc_ip'] }}/"
{% endif %}

# API Voip
# ---------
{% if environment_id == 'gootax' %}
API_VOIP_URL="http://{{ hostvars['api-pbx2']['loc_ip'] }}:8088/"
{% else %}
API_VOIP_URL="http://{{ hostvars['api-pbx1']['loc_ip'] }}:8088/"
{% endif %}

# API Worker
# -----------
{% if environment_id == 'gootax' %}
API_WORKER_URL="http://{{ hostvars['api-worker2']['loc_ip'] }}/"
{% else %}
API_WORKER_URL="http://{{ hostvars['api-worker1']['loc_ip'] }}/"
{% endif %}


# API OnlineCashbox
# -----------
{% if environment_id == 'gootax' %}
API_CASHDESK_URL="http://{{ hostvars['api-cashdesk2']['loc_ip'] }}/"
{% else %}
API_CASHDESK_URL="http://{{ hostvars['api-cashdesk1']['loc_ip'] }}/"
{% endif %}

# Chat service
# -------------
{% if environment_id == 'gootax' %}
SERVICE_CHAT_URL="http://ch2.{{ environment_domain }}:3003/"
{% else %}
SERVICE_CHAT_URL="http://ch2.{{ environment_domain }}:3003/"
{% endif %}

# Softphone
# ----------
SOFTPHONE_PROTOCOL="https"
SOFTPHONE_DOMAIN="{{ environment_domain }}"
SOFTPHONE_SUB_DOMAIN="v1"
SOFTPHONE_PORT="5060"
SOFTPHONE_CALL_URI="/order/operator/call/?did=%CALLDST%&clid=%CALLSRC%&call_id=%CALLID%"
SOFTPHONE_ASTERISK_HOST="m1.{{ environment_domain }}"
SOFTPHONE_UPDATE_SIP_USER_URL="${API_VOIP_URL}updatesipuser/"
SOFTPHONE_UPDATE_SIP_DOMAIN_URL="${API_VOIP_URL}updatesipdomains/"

# Support mail
# -------------
MAIL_SUPPORT_SUBJECT_BACKEND="Error in {{ environment_id | upper }} backend"
MAIL_SUPPORT_SUBJECT_FRONTEND="Error in {{ environment_id | upper }} frontend"
MAIL_SUPPORT_SUBJECT_LANDING="Error in  {{ environment_id | upper }} landing"

MAIL_SUPPORT_HOST="{{ environment_mail[app_name]['host'] }}"
MAIL_SUPPORT_PORT={{ environment_mail[app_name]['port'] }}
MAIL_SUPPORT_USERNAME="${COMMON_ADMIN_EMAIL}"
MAIL_SUPPORT_PASSWORD="{{ environment_mail[app_name]['password'] }}"
MAIL_SUPPORT_ENCRYPTION="{{ environment_mail[app_name]['encryption'] }}"

# Dispatch mail
# --------------
MAIL_DISPATCH_HOST="{{ environment_mail['info']['host'] }}"
MAIL_DISPATCH_PORT={{ environment_mail['info']['port'] }}
MAIL_DISPATCH_USERNAME="${COMMON_INFO_EMAIL}"
MAIL_DISPATCH_PASSWORD="{{ environment_mail['info']['password'] }}"
MAIL_DISPATCH_ENCRYPTION="{{ environment_mail['info']['encryption'] }}"


# CURL
# -----
CURL_CONNECT_TIMEOUT=15
CURL_TIMEOUT=30


# SMS providers
# --------------
SMS_ALPHASMS_URL="https://alphasms.ua/"
SMS_BSGSMS_URL="http://app.bsg.hk/"
SMS_BULKSMS_URL="http://gw1.unifun.com:11480/"
SMS_CLICKATELL_URL="https://platform.clickatell.com/"
SMS_COMTASS_URL="http://196.202.134.90/"
SMS_GATEWAYSMS_URL="http://91.212.89.137/"
SMS_GOSMS_URL="https://app.gosms.cz/"
SMS_IBATELE_LK_URL="https://lk.ibatele.com/"
SMS_IBATELE_SMPP_URL="http://smpp.ibatele.com/"
SMS_MAGFA_URL="http://sms.magfa.com/"
SMS_MARADIT_URL="http://apps.lsim.az/"
SMS_MEDIASEND_URL="http://188.225.75.178/"
SMS_MEGAFON_TJ_SMPP_HOST="10.241.201.184"
SMS_MEGAFON_TJ_SMPP_PORT=2775
SMS_NIKITA_URL="http://31.47.195.66:80/"
SMS_NIKITA_KG_URL="https://smspro.nikita.kg/"
SMS_PROMOSMS_URL="http://sms.promosms.ru:26676/"
SMS_SMSBROKER_URL="http://91.204.239.42:8081/"
SMS_SMSC_URL="http://smsc.ru/"
SMS_SMSLINE_URL="https://api.smsline.by/"
SMS_SMSONLINE_URL="https://bulk.sms-online.com/"
SMS_EYELINESMS_URL="https://sads.whoisd-blr.eyelinecom.com/"
SMS_IQSMS_HTTP_HOST="json.gate.iqsms.ru"
SMS_IQSMS_HTTP_PORT=80
SMS_IQSMS_BALANCE_HTTP_HOST="api.iqsms.ru"
SMS_IQSMS_BALANCE_HTTP_PORT=80
SMS_MSMSMS_URL="https://api.msm.az/"
SMS_QTSMS_SSL_HOST="go.qtelecom.ru"
SMS_QTSMS_SSL_PORT=443
SMS_QTSMS_KUBAN_SSL_HOST="kuban.qtelecom.ru"
SMS_QTSMS_KUBAN_SSL_PORT=443
SMS_SAPSANSMS_URL="http://lk.sms-sapsan.ru/"
SMS_SEMYSMS_NET_URL="https://semysms.net/"

