{% macro kamailio_write_params(params, indent=0) %}
{% if params is mapping %}
{% for section, subparams in params.iteritems() %}
{% if subparams is string or subparams is number %}
{{ section }} = {{ ["no", "yes"][subparams] if subparams is sameas false or subparams is sameas true else subparams }}
{% else %}
{% set section_directive = section.rsplit(" ")[0] %}
{% if section_directive in ["_ifdef", "_ifndef"] %}

#!{{ section[1:] }}
{{ kamailio_write_params(subparams, indent) -}}
#!endif

{% elif section_directive == "case" %}
{{ "\t" * indent + section + ":" }}
{{ kamailio_write_params(subparams, indent+1) -}}
{% else %}
{{ "\t" * indent + section + " {" }}
{{ kamailio_write_params(subparams, indent+1) -}}
{{ "\t" * indent + "}" + ("\n" if indent < 1 else "") }}
{% endif %}
{% endif %}
{% endfor %}
{% elif params is sequence and params is not string %}
{% for param in params %}
{{ kamailio_write_params(param, indent) -}}
{% endfor %}
{% elif params is string %}
{% set params_directive = params.rsplit(" ")[0] %}
{% if params_directive in ["_define", "_trydef", "_redefine", "_subst", "_substdef", "_else"] %}
#!{{ params[1:] }}
{% elif params_directive in ["import_file", "include_file"] %}
{{ "\t" * indent + params }}
{% else %}
{{ "\t" * indent + params }};
{% endif %}
{% endif %}
{% endmacro -%}

#!KAMAILIO
#
{% if kamailio_config is sequence and kamailio_config is not string %}
{{ kamailio_write_params(kamailio_config) -}}
{% endif %}
