[Unit]
Description=Gearman's worker service: Balance Consumer
PartOf=gearman_workers.target

[Service]
ExecStart=/usr/bin/php yii notification/cashdesk
WorkingDirectory=/opt/{{ app_name }}/current
SyslogIdentifier={{ app_name }}-stdout-balance-consumer
Restart=always
User=www-data
Group=www-data