[Unit]
Description=Gearman's worker service: %i
PartOf=gearman_workers.target

[Service]
ExecStart=/usr/bin/php yii worker/work %i
WorkingDirectory=/opt/{{ app_name }}/current
SyslogIdentifier={{ app_name }}-stdout-%i
Restart=always
User=www-data
Group=www-data
